.Category-main h2 {
  font-family: inherit;
  margin: 1em 0 1em !important;
  text-align: center;
}
.Category-more {
  padding: 1em 0 2em;
  text-align: center;
}
.Category-more > span {
  cursor: pointer;
}
