.Category-splited {
  margin-top: 2em;
}
.Category-splited.split {
  display: flex;
}
.Category-main, .Category-thread {
  overflow: hidden;
  width: 100%;
}
.Category-splited:not(.split).category > .Category-thread,
.Category-splited:not(.split).thread > .Category-main {
  display: none;
}
@media only screen and (max-width: 1199px) {
  .Category-splited.split.category > .Category-thread,
  .Category-splited.split.thread > .Category-main {
    display: none;
  }
}
.Category-main h2 {
  font-family: inherit;
  margin-bottom: 1em;
  text-align: center;
}
.Category-main h2 > .Category-main-reload {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .Category-splited.split .Category-main {
    background: #222;
    border: 1px solid rgba(128, 128, 128, .25);
    border-radius: 4px;
    overflow-y: auto;
    padding: 2em 0 0;
    position: fixed;
    height: calc(100vh - 60px - 4rem);
    width: 440px;
    z-index: 10;
  }
  .App.light .Category-splited.split .Category-main {
    background: #f9f9f9;
  }
  .Category-splited.split .Category-main h2 {
    margin-left: 16px;
    position: relative;
    text-align: left;
  }
  .Category-splited.split .Category-main h2 > .Category-main-reload {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 16px;
    top: 0;
  }
}
.Category-more {
  padding: 1em 0 2em;
  text-align: center;
}
.Category-more > span {
  cursor: pointer;
}
@media only screen and (min-width: 1200px) {
  .Category-splited.split .Category-thread {
    flex: 1;
    margin-left: 440px;
    padding-left: 2em;
  }
  .Category-splited.split .Category-thread-nothing {
    color: #555;
    font-size: 2rem;
    height: 48px;
    line-height: 48px;
    left: calc(50% + 440px / 2 + 2em);
    margin: -24px -80px;
    position: fixed;
    text-align: center;
    top: 50vh;
    width: 160px;
  }
}
