.ThreadRow-row {
  padding: 1em;
}
.ThreadRow-row:not(:last-child) {
  border-bottom: 1px solid #333;
}
.App.light .ThreadRow-row:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.ThreadRow-row > small {
  color: #aaa;
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
}
.ThreadRow-row.visited {
  box-shadow: inset 3px 0 0 #42A5F5;
}
.ThreadRow-row-manyLike {
  color: #7cb342;
}
.ThreadRow-row-manyDislike {
  color: #ef5350;
}
.ThreadRow-row-hotThread {
  color: #e0c354;
}
.ThreadRow-row-titleWrapper {
  display: flex;
}
.ThreadRow-row-title {
  flex: 1;
  line-height: 1.5rem;
  padding-right: 1em;
}
.ThreadRow-row-page {
  margin: auto;
}
.ThreadRow-row-page .menu {
  margin-left: -36px !important;
}
.App.light .ThreadRow-row:not(:last-child) {
  color: #7d7d7d;
}
