.Thread-header {
  display: flex;
  margin: 1em 0 !important;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  .Thread-header {
    font-size: 1.2rem;
  }
}
.Thread-header-rate {
  cursor: pointer;
}
.Thread-header-center {
  flex: 1;
  padding: 0 1em;
}

/*  Reply block  */
.Thread-replyBlock {
  background: rgba(61, 61, 61, .75);
  border-radius: 4px;
  line-height: 24px;
  margin-bottom: 1em;
  padding: 1em;
}
.App.light .Thread-replyBlock {
  background: rgba(170, 170, 170, .25);
}
.Thread-blockHeader {
  margin-bottom: 1em;
}
.Thread-blockHeader-floor {
  color: #ccc;
  display: inline-block;
  width: 58px;
}
.App.light .Thread-blockHeader-floor {
  color: #7d7d7d;
}
.Thread-blockHeader-info {
  margin-left: 1em;
}
.Thread-blockHeader-quoteButton {
  cursor: pointer;
  float: right;
}
.Thread-content blockquote {
  border-left: 2px solid #BBDEFB;
  margin-left: 8px;
  padding-left: 8px;
}
.App.light .Thread-content blockquote {
  border-left: 2px solid #90CAF9;
}
.Thread-content img {
  max-width: calc(960px / 2);
}
@media only screen and (max-width: 1023px) {
  .Thread-content img {
    max-width: calc((100vw - 1em * 2) / 2);
  }
}

/*  Buttons  */
.Thread-buttons {
  display: flex;
  font-size: 1.2rem;
  height: 48px;
  line-height: 48px;
  margin: 2em 0;
  position: relative;
  text-align: center;
}
.Thread-leftAbs, .Thread-rightAbs {
  top: 0;
}
.Thread-leftAbs {
  left: 0;
}
.Thread-rightAbs {
  right: 0;
}
.Thread-spaceFill {
  flex: 1;
}
.Thread-buttons-btnSpace, .Thread-buttons-btn {
  display: inline-block;
  margin: 0 4%;
  width: 48px;
}
.Thread-buttons-btn {
  background: #dedede;
  border-bottom: 4px solid #777;
  border-radius: 2px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  text-align: center;
}
.Thread-buttons-btn:hover {
  color: #000;
  text-decoration: none;
}
.Thread-buttons-btn:active {
  border-bottom: 0;
  top: 4px;
}
