.Thread-header, .Thread-extras {
  padding: 0 1em;
}
.Thread-header {
  display: flex;
  font-family: inherit;
  margin: 1em 0 !important;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .Thread-header {
    font-size: 1.2rem;
  }
}
.Thread-header-rate {
  cursor: pointer;
}
.Thread-header-center {
  flex: 1;
  padding: 0 1em;
}

/*  Reply block  */
.Thread-replyBlock {
  background: rgba(61, 61, 61, .75);
  box-shadow: 0 0 2px rgba(0, 0, 0, .25);
  border-radius: 4px;
  line-height: 2rem;
  margin-bottom: 1em;
  padding: 1em;
}
.Thread-replyBlock:first-child {
  margin-top: 1em;
}
.App.light .Thread-replyBlock {
  background: rgba(224, 224, 224, .4);
}
.Thread-blockHeader {
  margin-bottom: 1em;
}
.Thread-blockHeader-floor {
  color: #ccc;
  display: inline-block;
  width: 58px;
}
.App.light .Thread-blockHeader-floor {
  color: #777;
}
.Thread-blockHeader-info {
  margin-left: 1em;
}
.Thread-blockHeader-quoteButton {
  cursor: pointer;
  float: right;
}
.Thread-content {
  word-break: break-word;
}
.Thread-content blockquote {
  border-left: 2px solid #BBDEFB;
  margin-left: 8px;
  padding-left: 8px;
}
.App.light .Thread-content blockquote {
  border-left: 2px solid #90CAF9;
}
.Thread-content img {
  max-width: 360px;
}

/*  Buttons  */
.Thread-buttons {
  display: flex;
  font-size: 1.2rem;
  height: 48px;
  line-height: 48px;
  margin: 2em 0 0;
  position: relative;
  text-align: center;
}
.Thread-spaceFill {
  flex: 1;
}
.Thread-links {
  display: flex;
  height: 48px;
  line-height: 48px;
}
@media only screen and (min-width: 1080px) {
  .Category-splited.split .Thread-links .Thread-links-channel {
    display: none;
  }
}
.Thread-links .menu {
  margin-left: -28px !important;
  z-index: 30 !important;
}
.Thread-actions {
  line-height: 44px;
  margin-right: 1em;
}
.Thread-actions > * {
  cursor: pointer;
  margin-right: 1rem !important;
}
.Thread-actions > *:hover {
  color: #64B5F6;
}
.Thread-buttons-btnSpace, .Thread-buttons-btn {
  display: inline-block;
  margin: 0 4%;
  width: 48px;
}
.Thread-buttons-btn {
  background: #dedede;
  border-bottom: 4px solid #777;
  border-radius: 2px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: none;
}
.Thread-buttons-btn:hover {
  color: #000;
  text-decoration: none;
}
.Thread-buttons-btn:active {
  border-bottom: 0;
  margin-top: 4px;
}
