.App {
  min-height: 100vh;
  padding-top: 48px;
}
.App.dark {
  background: #1d1d1d;
  color: #eee;
}
.App.light {
  background: #f9f9f9;
  color: #333;
}
.App.light a {
  color: #333;
}
.App.light a:hover {
  color: #2196F3;
}

/*  Header  */
header {
  background: #1d1d1d;
  background: linear-gradient(to bottom, #1d1d1d 50%, transparent 100%);
  box-sizing: content-box;
  height: 48px;
  line-height: 48px;
  left: 0;
  padding-bottom: 8px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 40;
}
.App.light header {
  background: #f9f9f9;
  background: linear-gradient(to bottom, #f9f9f9 50%, transparent 100%);
}
header > a {
  color: #eee;
}
.App.light header > a {
  color: #333;
}
.App-logo {
  background: url(https://x.lihkg.com/assets/img/logo2.png) left center no-repeat;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  vertical-align: middle;
  width: 44px;
}
.App-headerLeft, .App-headerRight {
  position: absolute;
  top: 0;
}
.App-headerLeft {
  left: 0;
}
.App-headerLeft > *:not(:first-child) {
  margin-left: 1.5em;
}
.App-headerRight {
  right: 0;
}
.App header > div, .App-content, .App footer {
  margin: 0 auto;
  position: relative;
  width: 960px;
}
@media only screen and (max-width: 1023px) {
  .App header > div, .App-content, .App footer {
    min-width: 360px;
    width: calc(100% - 2em);
  }
}

/*  Drawer  */
.App-drawerOverlay {
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 40;
}
.App-drawer {
  background: #333;
  height: 100%;
  left: 0;
  max-width: 320px;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 40%;
  z-index: 41;
}
.App.light .App-drawer {
  background: #eee;
}
.App-drawer-item {
  cursor: pointer;
  font-size: 1.25rem;
  padding: 1em;
}
.App-drawer-item:hover {
  background: rgba(255, 255, 255, .1);
}
.App.light .App-drawer-item:hover {
  background: rgba(0, 0, 0, .1);
}

/*  Footer  */
.App footer {
  color: #555;
  font-size: 12px;
  padding: 1em 0 2em;
  opacity: .6;
  text-align: center;
  transition: opacity .1s;
}
.App footer:hover {
  opacity: 1;
}
