.App {
  color: #eee;
  min-height: 100vh;
  padding-top: 48px;
}
.App.light {
  color: #333;
}
.App.light a {
  color: #333;
}
.App.light a:hover {
  color: #2196F3;
}

/*  Header  */
header {
  background: #1d1d1d;
  background: linear-gradient(to bottom, #1d1d1d 50%, rgba(29, 29, 29, 0) 100%);
  box-sizing: content-box;
  height: 48px;
  line-height: 48px;
  left: 0;
  padding: 0 1em 12px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 40;
}
.App.light header {
  background: #f9f9f9;
  background: linear-gradient(to bottom, #f9f9f9 50%, rgba(249, 249, 249, 0) 100%);
}
header > a {
  color: #eee;
}
.App.light header > a {
  color: #333;
}
.App-logo {
  background: url(https://x.lihkg.com/assets/img/logo2.png) left center no-repeat;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  vertical-align: middle;
  width: 44px;
}
.App-headerLeft, .App-headerRight {
  position: absolute;
  top: 0;
}
.App-headerLeft {
  left: 0;
}
.App-headerLeft > *:not(:first-child) {
  margin-left: 1.25rem;
}
.App-headerRight {
  right: 0;
}
.App header > div, .App-content, .App footer {
  margin: 0 auto;
  position: relative;
  width: 1080px;
}
@media only screen and (max-width: 1079px) {
  .App header > div, .App-content, .App footer {
    width: 100%;
  }
}
.App-content {
  margin-top: 5rem;
  padding-bottom: 6em;
}
.App.dark .ui.form textarea, .App.dark .ui.form input {
  background-color: #333 !important;
  color: #eee !important;
}

/*  Drawer  */
.App-drawerOverlay {
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 40;
}
.App-drawer {
  background: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  max-width: 200px;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  padding: 3em 0 1em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 41;
}
.App.light .App-drawer {
  background: #eee;
}
.App-drawer-lower {
  flex: 1;
  overflow: auto;
  height: 30%;
}
.App-drawer-item {
  cursor: pointer;
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
}
.App-drawer-item:hover {
  background: rgba(255, 255, 255, .1);
}
.App.light .App-drawer-item:hover {
  background: rgba(0, 0, 0, .1);
}

/*  Modal  */
.modal .description {
  line-height: 30px;
  text-align: center;
  margin: auto;
}
.modal .description a {
  color: black;
  text-decoration: none;
  transition: all .2s ease;
}
