.App {
  color: #eee;
  min-height: 100vh;
  padding-top: 48px;
}
.App.noselect {
  user-select: none;
}
.App.light {
  color: #333;
}
.App.light a {
  color: #333;
}
.App.light a:hover {
  color: #2196F3;
}

/*  Header  */
header {
  background: #000;
  box-shadow: 0 1px 4px rgba(144, 202, 249, .4);
  box-sizing: content-box;
  height: 48px;
  line-height: 48px;
  left: 0;
  padding: 0 1em;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 40;
}
header a {
  color: #90CAF9;
}
.App.light header {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
}
.App.light header a {
  color: #000;
}
.App-headerLeft, .App-headerRight {
  position: absolute;
  top: 0;
}
.App-headerLeft {
  left: 0;
}
.App-headerLeft > *:not(:first-child) {
  margin-left: 1.25rem;
}
.App-headerLeft > .App-whatsNew {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: relative;
  vertical-align: middle;
  width: 32px;
}
.App-headerLeft > .App-whatsNew:before {
  background: #90CAF9;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(144, 202, 249, .4);
  content: '';
  display: inline-block;
  height: 12px;
  left: 50%;
  margin: -6px;
  position: absolute;
  top: 50%;
  width: 12px;
}
.App.light .App-headerLeft > .App-whatsNew:before {
  background: rgba(30, 136, 229, .6);
  box-shadow: 0 0 0 4px rgba(30, 136, 229, .2);
}
.App-headerRight {
  right: 0;
}
.App header > div, .App-content, .App footer {
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .App header > div, .App-content, .App footer {
    width: 800px;
  }
}
@media only screen and (max-width: 799px) {
  .App header > div, .App-content, .App footer {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .App header > div, .App-content, .App footer {
    width: 1200px;
  }
}
.App-content {
  padding-bottom: 2em;
}
.App.dark .ui.form textarea, .App.dark .ui.form input {
  background-color: #333 !important;
  color: #eee !important;
}

/*  Drawer  */
.App-drawerOverlay {
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 40;
}
.App-drawer {
  background: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  max-width: 320px;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  padding: 1em 0;
  position: fixed;
  top: 0;
  width: 40%;
  z-index: 41;
}
.App.light .App-drawer {
  background: #eee;
}
.App-drawer-lower {
  flex: 1;
  overflow: auto;
}
.App-drawer-item {
  cursor: pointer;
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
}
.App-drawer-item:hover {
  background: rgba(255, 255, 255, .1);
}
.App.light .App-drawer-item:hover {
  background: rgba(0, 0, 0, .1);
}

/*  Action Helper  */
.App-helper {
  background: #111;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
  cursor: pointer;
  list-style: none;
  margin: 8px calc(-128px - 8px);
  padding: 0;
  position: fixed;
  width: 128px;
  z-index: 99;
}
.App.light .App-helper {
  background: #fff;
  border: 1px solid #e0e0e0;
}
.App-helper > li {
  height: 40px;
  line-height: 40px;
  padding: 0 1em;
  z-index: 999;
}

/*  Modal  */
.modal .description {
  line-height: 30px;
  text-align: center;
  margin: auto;
}
.modal .description a {
  color: black;
  text-decoration: none;
  transition: all .2s ease;
}
