.FloatEditor-quickReply {
  bottom: 0;
  right: calc((100vw - 960px) / 2 - 8px);
  position: fixed;
  pointer-events: none;
  z-index: 20;
}
@media only screen and (max-width: 1023px) {
  .FloatEditor-quickReply {
    right: 0;
  }
}
.FloatEditor-quickReply-toggle {
  background: #1976D2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 54px;
  line-height: 54px;
  margin: 2em;
  pointer-events: auto;
  text-align: center;
  vertical-align: bottom;
  width: 54px;
}
.FloatEditor-quickReply-toggle:active {
  background: #1565C0;
}
.FloatEditor-quickReply-editor {
  position: relative;
  transition: all .4s ease;
  z-index: -1;
}
.FloatEditor-quickReply-editorInner {
  background: #555;
  border-radius: 4px 4px 0 0;
  display: inline-block;
  padding: 8px;
  width: 440px;
}
.App.light .FloatEditor-quickReply-editorInner {
  background: #999;
}
.FloatEditor-quickReply-editor-main {
  height: 200px;
  position: relative;
}
.FloatEditor-quickReply-editor-main > .field {
  height: 100%;
}
.FloatEditor-quickReply-editor-main > .field > textarea {
  height: 100% !important;
  resize: none !important;
}
.FloatEditor-quickReply-editor-iconTray {
  background: rgba(255, 255, 255, .75);
  border-radius: 4px;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.FloatEditor-quickReply-editor-iconTray > img {
  cursor: pointer;
  margin: 4px;
  max-width: 50%;
}
.FloatEditor-quickReply-editor-buttons {
  align-items: stretch;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  line-height: 36px;
  margin-bottom: 8px !important;
  text-align: right;
}
.FloatEditor-quickReply-editor-buttons > * {
  margin-left: 8px !important;
}
