.FloatEditor-quickReply {
  bottom: 0;
  right: calc((100vw - 1080px) / 2 - 54px + 2em);
  position: fixed;
  pointer-events: none;
  z-index: 20;
}
@media only screen and (max-width: 1200px) {
  .FloatEditor-quickReply {
    right: 0;
  }
}
.FloatEditor-quickReply-toggle {
  background: #1976D2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 54px;
  line-height: 54px;
  margin: 2em;
  pointer-events: auto;
  text-align: center;
  vertical-align: bottom;
  width: 54px;
}
.FloatEditor-quickReply-toggle:active {
  background: #1565C0;
}
.FloatEditor-quickReply-editor {
  position: relative;
  transition: all .4s ease;
  z-index: -1;
}
.FloatEditor-quickReply-editorInner {
  background: #555;
  border-radius: 4px 4px 0 0;
  display: inline-block;
  padding: 8px;
  width: 480px;
}
@media only screen and (max-width: 800px) {
  .FloatEditor-quickReply-editorInner {
    width: calc(100vw - 8px);
  }
}
.App.light .FloatEditor-quickReply-editorInner {
  background: #999;
}
.FloatEditor-quickReply-editor-buttons,
.FloatEditor-quickReply-editor-main {
  margin-bottom: 8px !important;
  position: relative;
}
.FloatEditor-quickReply-editor-buttons {
  align-items: stretch;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  line-height: 36px;
  text-align: right;
}
.FloatEditor-quickReply-editor-buttons > * {
  margin-left: 8px !important;
}
.FloatEditor-quickReply-editor-main > textarea {
  height: 260px !important;
}
.FloatEditor-quickReply-editor-main > .field > textarea {
  height: 100% !important;
  resize: none !important;
}
.FloatEditor-quickReply-editor-iconTray {
  background: rgba(255, 255, 255, .6);
  border-radius: 4px;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.FloatEditor-quickReply-editor-iconTray > img {
  cursor: pointer;
  margin: 4px;
  max-width: 50%;
}

/*  Formats  */
.FloatEditor-text-size-1 { font-size: x-small !important }
.FloatEditor-text-size-2 { font-size: small !important }
.FloatEditor-text-size-3 { font-size: medium !important }
.FloatEditor-text-size-4 { font-size: large !important }
.FloatEditor-text-size-5 { font-size: x-large !important }
.FloatEditor-text-size-6 { font-size: xx-large !important }
.FloatEditor-text-red { color: red !important }
.FloatEditor-text-green { color: green !important }
.FloatEditor-text-blue { color: blue !important }
.FloatEditor-text-purple { color: purple !important }
.FloatEditor-text-violet { color: violet !important }
.FloatEditor-text-brown { color: brown !important }
.FloatEditor-text-pink { color: pink !important }
.FloatEditor-text-orange { color: orange !important }
.FloatEditor-text-gold { color: gold !important }
.FloatEditor-text-maroon { color: maroon !important }
.FloatEditor-text-teal { color: teal !important }
.FloatEditor-text-navy { color: navy !important }
.FloatEditor-text-limegreen { color: limegreen !important }
