@import 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css';

body {
  background: #1d1d1d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 1.15rem 'HelveticaNeue-Light', 'Helvetica Neue', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', 'Meiryo', 'Lantinghei TC', 'Segoe UI Light', 'Segoe UI', '微軟正黑體', 'Microsoft JhengHei UI', 'WenQuanYi Zen Hei', Helvetica, Arial, sans-serif;
  line-height: 1.15rem;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  transition: opacity .5s ease;
}
a {
  color: #90CAF9;
  text-decoration: none;
  transition: all .2s ease;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, .5);
}
