@import 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css';

body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
a {
  color: #90CAF9;
  text-decoration: none;
  transition: all .2s ease;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}
