@import 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css';

body {
  font: 1.15rem 'HelveticaNeue-Light', 'Helvetica Neue', 'Lantinghei TC', 'Segoe UI Light', 'Segoe UI', '微軟正黑體', 'Microsoft JhengHei UI', 'WenQuanYi Zen Hei', Helvetica, Arial, sans-serif;
  line-height: 1.15rem;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}
a {
  color: #90CAF9;
  text-decoration: none;
  transition: all .2s ease;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}
